.logo-search {
    display: flex;
    gap: 1rem;
}

.search {
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
    input {
        background-color: transparent;
        padding: 0 5px;
    }
    .s-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(105deg, #f99827, #f95f35 100%);
        border-radius: 5px;
        padding: 7px;
        color: white;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            scale: 1.1;
            background: linear-gradient(35deg, #f99827, #f95f35 100%);
        }
    }
}
