.home {
    position: relative;
    display: grid;
    grid-template-columns: 20% auto 25%;
    gap: 5rem;
}

.post-section {
    background-color: red;
}

.trend-section {
    background-color: pink;
}
